build/
dist/
nbproject/private/
*.class
*.war
*.ear
*.jar
!web/WEB-INF/lib/*.jar
*.log
*.tmp
.DS_Store
Thumbs.db

mobile_flutter/build/
mobile_flutter/.dart_tool/
mobile_flutter/.idea/
mobile_flutter/.metadata
mobile_flutter/.packages
mobile_flutter/pubspec.lock
